html,body{
	padding:0;
	margin:0;
	background:#fff;
font-family: 'Cuprum', sans-serif;
 }
 body {
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
.box{
    width: 38%;
	border:3px solid rgba(239, 239, 239, 0.28);
    padding:53px 46px 60px;
    box-sizing: border-box;
    position: relative;
    top:30px;
    margin:auto;
    background:rgba(0, 0, 0, 0.4);
    box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);

}
h2.text{ 
    font-size: 34px;
     color: #dedede;
     letter-spacing: 2px;
     font-family: 'Pacifico', cursive;
     text-align: center;
    }
.user{
    text-align: center;
   
}
.user span{
	text-align: center;
	font-size: 87px;
	margin:20px 0px 25px;
    color: #f6f6f6;}

    .rol{
        text-align: center;
    }
    .button a {
        font-size: 14px;
    }
    .button a ,.outs_more-buttn a{
        width:72%;
        text-align:center;
        padding: 14px 0px;
        margin:10px;
        font-size: 19px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 2px;
        background:rgb(8, 159, 189);
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.32);
        box-sizing: border-box;
        border-radius:10px;
    }
    .button a:hover ,.outs_more-buttn a:hover{color: #fff;
        background: rgba(255, 255, 255, 0);}

        .copy {
            /* padding-bottom: 10px; */
            margin-top: 90px;
        }
        .copy p {
            margin: 0em;
            text-align: center;
            font-size: 19px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 400;
            color: rgb(12, 9, 9);
            letter-spacing: 3px;
        }
        @media(max-width:600px){
            .box{
                width: 92%;
            margin:  auto;
            padding: 15px 23px 35px;
            position: relative;
                top:5px;
                /* width: 38%;
                border:3px solid rgba(239, 239, 239, 0.28);
                padding:53px 46px 60px;
                box-sizing: border-box;
                position: relative;
                top:30px;
                margin:auto;
                background:rgba(0, 0, 0, 0.4);
                box-shadow: 3px 17px 43px 6px rgba(0,0,0,0.75);
             */
            }
            h2.text{ 
                font-size: 34px;
                 color: #dedede;
                 letter-spacing: 2px;
                 font-family: 'Pacifico', cursive;
                 text-align: center;
                }

                .copy {
                    /* padding-bottom: 10px; */
                    margin-top: 5px;
                }
                .copy p {
                    margin: 0em;
                    text-align: center;
                    font-size: 15px;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 400;
                    color: rgb(12, 9, 9);
                    letter-spacing: 3px;
                }
           
        }
        